*{
    margin: 0;
    padding: 0;
}

.container{
    width: 95vw;
    margin: auto;
}

.nav-container{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    padding: 0.5vw;
    height: 5.5vw;
    /* position: fixed;
    top: 0;
    width: 95vw;
    z-index: 100;
    flex-wrap: wrap; */
}

.logo{
    height: 5.5vw;
    object-fit: cover;
    margin-left: 3vw;
}
.logo img{
    width: 8.3vw;
}

ul li{
    list-style-type: none;
    font-size: 1.3vw;
}

.navlink{
    color: white;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.navlink:hover {
    transform: scale(1.2);
}

.navigation ul{
    display: flex;
    gap: 4vw;
    height: 5.5vw;
    align-items: center;
    margin-right: 3vw;
}

.navlink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.navlink:hover:after {
  width: 100%;
}